import("mgcv")
import("Matrix")
import("mvtnorm")
import("coda")
import("Formula")
import("MBA")
import("colorspace")
importFrom("stats", "AIC", "BIC")

useDynLib(bamlss)

export(
  ## main user interface
  "bamlss",               
  "bamlss.frame",
  "bamlss.formula",
  "bamlss.family",
  "bfit",
  "bfit_iwls",
  "bfit_iwls_Matrix",
  "bfit_iwls_spam",
  "bfit_lm",
  "bfit_optim",
  "GMCMC",
  "GMCMC_iwls",
  "GMCMC_iwlsC",
  "GMCMC_iwlsC_gp",
  "GMCMC_slice",
  "JAGS",
  "BayesX",
  "MVNORM",
  "surv.transform",
  "cox.mode",
  "cox.mcmc",
  "cox.predict",
  "terms.bamlss",
  "drop.terms.bamlss",
  "design.construct",

  ## engine setup functions
  "randomize",
  "set.starting.values",
  "bamlss.engine.setup",
  "bamlss.engine.setup.smooth",
  "get.state",
  "get.par",
  "set.par",
  "get.eta",
  "get.hessian",
  "get.edf",
  "make.fit.fun",
  "sparse.setup",
  "sparse.matrix.fit.fun",
  "make.prior",
  "sum.diag",
  "get.log.prior",
  "get.all.par",

  ## families,
  "beta.bamlss",
  "binomial.bamlss",
  "cnorm.bamlss",
  "cox.bamlss",
  "gaussian.bamlss",
  "gamma.bamlss",
  "multinomial.bamlss",
  "mvnorm.bamlss",
  "poisson.bamlss",
  "BUGSeta",
  "BUGSmodel",

  ## extractor functions
  "DIC",
  "samples",
  "samplestats",
  "results.bamlss.default",
  "parameters",
  "all.labels.formula",

  ## vis functions
  "plot2d",
  "plot3d",
  "plotmap",
  "plotblock",
  "sliceplot",
  "colorlegend",

  ## others
  "GAMart",
  "Surv2",
  "has_pterms",
  "has_sterms",
  "tau2.optim",
  "response.name",
  "c95",
  "s2",
  "sx",
  "sx.construct",
  "matrix_inv",
  "fmt",
  "rSurvTime2",
  "simSurv",
  "scale2",
  "continue",
  "homstart_data",
  "tx",
  "rmf"
)

S3method("plot", "bamlss")
S3method("plot", "bnd")
S3method("plot", "bamlss.results")
S3method("summary", "bamlss")
S3method("family", "bamlss")
S3method("family", "bamlss.frame")
S3method("print", "summary.bamlss")
S3method("print", "family.bamlss")
S3method("print", "bamlss.frame")
S3method("predict", "bamlss")
S3method("fitted", "bamlss")
S3method("logLik", "bamlss")
S3method("DIC", "bamlss")
S3method("coef", "bamlss")
S3method("confint", "bamlss")
S3method("residuals", "bamlss")
S3method("model.matrix", "bamlss.frame")
S3method("model.matrix", "bamlss.terms")
S3method("model.matrix", "bamlss.formula")
S3method("smooth.construct", "bamlss.frame")
S3method("smooth.construct", "kr.smooth.spec")
S3method("smooth.construct", "tensorX.smooth.spec")
S3method("Predict.matrix", "kriging.smooth")
S3method("Predict.matrix", "deriv.smooth")
S3method("Predict.matrix", "tensorX.smooth")
S3method("bamlss.engine.setup.smooth", "default")
S3method("sx.construct", "tensorX.smooth")

