export(
approxm,
bsbasis,
bspline,
centroidpos,
centroidtext,
coefplot,
collect,
cpos,
cprobs,
ctrdist,
delete.NULLs,
dev,
dic,
drawmap,
extract.linear,
extract.mult,
extract,
extract.random,
gcv,
get.unique,
getuit,
gibbs,
gibbsObject,
incidentm,
ma,
mcenter,
mrf,
m,
neighbormatrix,
penalty,
sps,
qhelp,
r.setup,
r,
readbndfile,
rtr,
rtr2,
rtruncated,
setmfrow,
smoothone,
smoothtwo,
spcprob,
ste,
tr,
trans.design,
tepredict,
pspredict,
mapredict,
getcoefs,
cpoint,
rw,
findModel,
sampling,
plote,
rtvnorm,
rtvnorm2,
rgamma2,
smooth.construct.ma.smooth.spec,
Predict.matrix.ma.smooth,
smooth.construct.ste.smooth.spec,
Predict.matrix.ste.smooth,
smooth.construct.mrf.smooth.spec,
Predict.matrix.mrf.smooth,
smooth.construct.sps.smooth.spec,
Predict.matrix.sps.smooth,
stewrap,
ret.pal.colors,
centroids
)

importFrom("splines", "spline.des", "splineDesign")

S3method(plot,gibbs)
S3method(plot,sm.gibbs)
S3method(plot,mrf.gibbs)
S3method(plot,random.gibbs)
S3method(plot,linear.gibbs)
S3method(plot,bnd)
S3method(print,gibbs)
S3method(summary,gibbs)
S3method(print,summary.gibbs)
S3method(predict,gibbs)
S3method(print,sm.gibbs)
S3method(print,mrf.gibbs)
S3method(print,random.gibbs)
S3method(print,linear.gibbs)
S3method(print,gibbsfit)
S3method(fitted,gibbs)

useDynLib("BayesR")
